
.super-container {
	height: 100dvh;
	width: 100dvw;
    background: #22C1C3;
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    background-repeat: no-repeat;
    margin: 40px auto;
}

.main-container {
    display: flex;
	flex-direction: column;
	color: white;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: transparent;
    border-radius: 15px;
    padding: 10px;
}



.titulo-sub-container{
    border-radius: 15px;
}

.contact-container {
    display: flex;

    >div {
        flex: 1;
    }

    .contact-form {
        background-color: transparent;
        padding: 0;
        color: white;

        .contact-form-title {
            text-align: center;
            margin: auto;
        }
        .form-contact {
            color: white;
            /* background-color: #69676d; */
            background-color: transparent;
            padding: 1rem;
            
            background-repeat: repeat;
            margin: auto;
            justify-content: center;
            flex-shrink: 2;
            width: 100%;
            height: auto;
            border-radius: 15%;
            
            .input-group {
                display: flex;
                flex-direction: column;
                margin: 1rem auto;
                width: 25rem;
                height: auto;
                margin: 1rem auto;
                width: 70%;
                height: auto;
                
            
        
                .inpu-label {
                    font-size: 1rem;
                    margin: 1rem;
                    text-align: left;
                }
        
                input, textarea, select {
                    padding: 0.5rem;
                    color: #222;
                    outline: none;
                    border: none;
        
                }
            
            }
        
            .input-group-boton {
            flex-direction: row;
            flex-wrap: wrap;
            display: flex;
            margin: 1rem auto;
            justify-content: space-around;
            width: 60%;
            height: auto;
                
                button {
                        flex-direction: row;
                        flex-wrap: wrap;
                        display: flexbox;
                        margin: 1rem auto;
                        padding: 0.5rem;
                        background-color: #222;
                        border-radius: 15px;
                        color: white;
                        outline: none;
                        border: none;
                        width: 15rem;
                        
        
                    
                }
            }
        }
    }

}

.main-container {
    flex-direction: column;
    background-color: transparent;
	flex-grow: 1;
	width: 90%;
	margin: 0 auto;
    

    .contact-container {
        justify-content: center;
        margin-top: 2rem;
        border-radius: 15px;
        border: 0.5rem solid black;
        
    }
}

@media screen and (width < 768px) {
    .contact-container {
        flex-direction: column;

        .contact-map {
            flex-basis: 400px;
        }
    }
}